%h2= t('.title')
%p= t('.welcome')
%p2= image_tag"icon.png"
%ul
  %li
    %a{:href => "/"} Home
  %li
    %a{:href => "/"} Crime Map
  %li
    %a{:href => "/"} Submit a Crime
  %li
    %a{:href => "/"} Help
