<div class="main">


<div class="jumbotron text-center">
  <h1>Editing Location</h1>
</div>


<%= render 'form', location: @location %>

<%= link_to 'Show', @location %> |
<%= link_to 'Back', locations_path %>
